@font-face {
    font-family: "GalaxieCopernicus-Book";
    src: url('https://cdn.advisor.com/GalaxieCopernicus-Book.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.advisor.com/GalaxieCopernicus-Book.woff') format('woff'),
         url('https://cdn.advisor.com/GalaxieCopernicus-Book.woff2') format('woff2');
}

@font-face {
    font-family: "MessinaSansWeb";
    src: url('https://cdn.advisor.com/MessinaSansWeb-Regular.woff?#iefix') format('woff'),
         url('https://cdn.advisor.com/MessinaSansWeb-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MessinaSansWeb";
    src: url('https://cdn.advisor.com/MessinaSansWeb-SemiBold.woff?#iefix') format('woff'),
         url('https://cdn.advisor.com/MessinaSansWeb-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.fsLabel {
    font-family: "MessinaSansWeb", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

input[type=text].fsField, 
input[type=email].fsField,
input[type=tel].fsField,
select.fsField{
    border-radius: 12px;
    height: 72px;
    padding: 0 16px 0 24px;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    line-height: 26px;
}

.fsField::placeholder {
    font-family: "MessinaSansWeb", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.fsSubmitButton {
    border-radius: 64px !important;
    height: 72px;
    width: 100%;
    font-weight: 400;
    font-size: 16px !important;
    padding: 0;
}

.fsBody .fsForm {
    max-width: 616px;
}

.fsSupporting {
    color: #DDD !important;
    margin: 10px 8px !important;
    font-size: 15px !important;
    font-style: italic !important;
}
