<!---------------------------------------
-- Load a Formstack form
--
-- This replaces the original webflow
-- form entirely.  Including validation,
-- submit button, etc.
---------------------------------------->
<!-- Loads the formstack form (not this can't be dynamic since it relies on document.write)-->
<script type="text/javascript" src="https://advr.formstack.com/forms/js.php/join_form_2"></script>

<!-- Animate the submit button after click -->
<script type="text/javascript">
  const submitButton = document.getElementsByClassName('fsSubmitButton')[0]

  submitButton.addEventListener('click', function(e) {
    const label = e.target

    const labelStates = [
      "Submitting .  ",
      "Submitting .. ",
      "Submitting ...",
      "Submitting  ..",
      "Submitting   .",
      "Submitting    ",
    ]

    let currentLabel = 0

    setInterval(() => {
      label.value = labelStates[currentLabel]
      currentLabel = (currentLabel + 1) % labelStates.length
    }, 200)
  })
</script>

<!--------------------------------------- 
-- End Formstack
----------------------------------------->
