<!------------------------------------------------
-- Form validation for join form
-- 
-- This creates a fake button over the "submit"
-- button that handles the form validation,
-- and then clicks the "submit" button on success
--
-- This is needed to handle he form validation 
-- without triggering the webflow swiping click
-- animation attached to the real submit button
--
-- Deployment: Add to webflow as an HTML embed after
-- a submit button that has a "calendly-next" id
--------------------------------------------------->
<style type="text/css">
    /**
     * This whole style block contains CSS for a
     * "waiting" spinner
     */
    .waiting-spinner {
        display: inline-block;
        width: 30px;
        height: 18px;
    }
    .waiting-spinner:after {
        content: " ";
        display: block;
        width: 20px;
        height: 20px;
        margin: 2px;
        position: relative;
        right: -27px;
        border-radius: 50%;
        border: 2px solid #000;
        border-color: #000 transparent #000 transparent;
        animation: waiting-spinner 1.2s linear infinite;
    }
    @keyframes waiting-spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script type="text/javascript">
    // Create handle for email form
    const submitButton = document.getElementById('calendly-next')

    // Create hidden input containing URL (including query strings)
    const validateButton = document.createElement("button")
    validateButton.setAttribute("type", "button")
    validateButton.setAttribute("id", "validation-button")
    validateButton.innerHTML = "Next"
    validateButton.classList.add("submit-button")
    validateButton.classList.add("w-button")

    // Attach the fake button, and hide the real submit button
    const submitButtonContainer = submitButton.parentElement
    submitButtonContainer.appendChild(validateButton)
    submitButton.style.display = 'none'

    // Click handler for fake submit button
    // Validates form, returns false if not valid
    validateButton.addEventListener('click', async (e) => {
        const form = document.getElementById('email-form')
        const inputs = form.getElementsByTagName('input')
        
        let validForm = true

        // Check each field for empty inputs
        for (let i of inputs) {
            if (i.value.length === 0) {
                // Find the error node sibling, and display it
                const errorLabel = i.parentNode.querySelector('.form-field-error')
                if (errorLabel) {
                    errorLabel.style.display = 'block'
                }
                validForm = false
            }
        }

        // Click the submit button for the user if there are no validation issues
        // Additionally - update the validate button to confirm the user has clicked
        //   and show some sort of "processing" notification
        if (validForm) {
            console.log('clicking submit...')
            validateButton.setAttribute("value", "Submitting...")
            validateButton.innerHTML = 'Submitting... <span class="waiting-spinner"></span>'
            validateButton.style.background = '#cfd0b6'
            validateButton.disabled = true;
            submitButton.click()
        }
    })
</script>