<!-----------------------------------------------------
-- Loads Calendly widget using prefill from query 
-- string
-- 
-- This is intended to render as soon as the page loads
-- for users being redirected directly to a calendly
-- 
-- This is intended to be placed on the "schedule" 
-- page as an HTML embed, AFTER the calendly-container
-- element
------------------------------------------------------->
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<script type="text/javascript">
    // Parse URL query string
    const urlParams = new URLSearchParams(window.location.search)

    // Load Calendly widget
    Calendly.initInlineWidget({
        parentElement: document.getElementById('calendly-container'),
        url: 'https://calendly.com/d/d5z-vcp-mf3/advisor-free-consultation-call?hide_event_type_details=1&primary_color=1a1a1a',
        prefill: {
            name:  urlParams.get('fname') + ' ' + urlParams.get('lname'),
            email: urlParams.get('email'),
            customAnswers: {
                a1: '+1' + (urlParams.get('phone').replace(/[^\d]/g, '')),
            }
        }
    })
</script>