<!-----------------------------------------------------
-- Loads Hubspot meetings widget using prefill from query 
-- string
-- 
-- This code should be dropped into a Webflow HTML
-- embed
------------------------------------------------------->
<!-- Hubspot widget styles -->
<style type="text/css">
    /* Force a minimum width to prevent horizontal scrollbars */
    /* .meetings-iframe-container {
        min-width: 337px;
    } */
</style>

<!-- The Hubspot widget target -->
<div class="meetings-iframe-container"></div>

<!-- Hubspot widget dynamic config -->
<script type="text/javascript">
    // Parse incoming URL query string
    const urlParams = new URLSearchParams(window.location.search)
    const email     = urlParams.get('email')
    const firstName = urlParams.get('fname')
    const lastName  = urlParams.get('lname') 

    // Build qs for Hubspot widget
    const params = {
        embed: true,
    }

    if (email) {
        params.email = email
    }
    if (firstName) {
        params.firstName = firstName
    }
    if (lastName) {
        params.lastName = lastName
    }

    const qs = new URLSearchParams(params)
    
    // Create the Hubspot widget
    const src = `https://meetings.hubspot.com/greg-libon/advisor-free-consultation-call?${qs.toString()}`
    // const src = `https://meetings.hubspot.com/greg-libon/advisor-free-consultation-call-2?${qs.toString()}`
    const container = document.querySelector('.meetings-iframe-container')
    container.setAttribute('data-src', src)
</script>

<!-- Hubspot widget load -->
<script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

<!-----------------------------------------------------
-- End Hubspot meetings widget embed
------------------------------------------------------->